@import "tailwindcss";

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

@layer utilities {
  .bg-fein {
    background: linear-gradient(180deg, #249e86 0%, #1d7f6a 100%);
  }
}